.main {
  text-align: center;
  display: inline-block;
  background: rgba(190, 190, 190, 0.5);
  border-radius: 15px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}
.login-main {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading{
  text-align: center;
}

.login-btn {
  width: 90%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.error-login {
  font-size: 1.5rem;
  margin-top: -.6rem;
  margin-left: 9rem;
  position: absolute;
  color: red;
}
form {
  width: 35rem;
}
h1 {
  font-size: 3rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
