.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.reservation-main{
    text-align: center;
}
.create-reservations{
    font-size: 2rem;
    width: 15%;
    padding-bottom: 1rem;
}
.reservation-error{
    text-align: center;
    display: flex;
    flex-direction: column;
}